

<nz-modal
[nzMaskClosable]="false"
      [nzWidth]="'50%'"
      [(nzVisible)]="isVisible"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="handleCancel()"
    >
      <ng-template #modalTitle>Iniciar inventario</ng-template>

      <ng-template #modalContent>
        <div class="p-[25px]">
          <div style="width: 100%;">
          
          </div>
        </div>

        <form class="max-w-full" [formGroup]="validateForm">
          <nz-form-item>
            <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="4" nzFor="text2">Responsable</nz-form-label>
            <nz-form-control nzXs="8" nzErrorTip="Campo requerido." >
                <input formControlName="responsable"
                  class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                  nz-input name="responsable" type="text" id="responsable">
              </nz-form-control>

              <nz-form-control nzXs="1" >
            </nz-form-control>

              <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="3" nzFor="text2">Puesto</nz-form-label>
            <nz-form-control nzXs="8" nzErrorTip="Campo requerido." >
                <input formControlName="responsablePuesto"
                  class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                  nz-input name="responsablePuesto" type="text" id="responsablePuesto">
              </nz-form-control>


          </nz-form-item>

          <nz-form-item>
            <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="4" nzFor="text2">Resp. conteo</nz-form-label>
            <nz-form-control nzXs="8" nzErrorTip="Campo requerido." >
                <input formControlName="responsableConteo"
                  class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                  nz-input name="responsableConteo" type="text" id="responsableConteo">
              </nz-form-control>

              <nz-form-control nzXs="1" >
              </nz-form-control>

              <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="3" nzFor="text2">Puesto</nz-form-label>
            <nz-form-control nzXs="8" nzErrorTip="Campo requerido." >
                <input formControlName="responsableConteoPuesto"
                  class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                  nz-input name="responsableConteoPuesto" type="text" id="responsableConteoPuesto">
              </nz-form-control>


          </nz-form-item>

          <nz-form-item>
            <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="4" nzFor="text2">Generado</nz-form-label>
            <nz-form-control nzXs="8" nzErrorTip="Campo requerido." >
                <input formControlName="generado"
                  class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                  nz-input name="generado" type="text" id="generado">
              </nz-form-control>

              <nz-form-control nzXs="1" >
              </nz-form-control>

              <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="3" nzFor="text2">Puesto</nz-form-label>
            <nz-form-control nzXs="8" nzErrorTip="Campo requerido." >
                <input formControlName="generadoPuesto"
                  class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                  nz-input name="generadoPuesto" type="text" id="generadoPuesto">
              </nz-form-control>


          </nz-form-item>

        </form>

       

       

      </ng-template>

      <ng-template #modalFooter>
        <button class="bg-primary hover:bg-primary-hbr hover:border-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px]" nz-button nzType="primary" (click)="guardarLotes()" [nzLoading]="isLoadingMdl">Guardar</button>
      </ng-template>
    </nz-modal>

    <nz-modal
    [nzMaskClosable]="false"
          [nzWidth]="'100%'"
          [(nzVisible)]="isVisibleCaptura"
          [nzTitle]="modalTitleCaptura"
          [nzContent]="modalContentCaptura"
          [nzFooter]="modalFooterCaptura"
          (nzOnCancel)="handleCancelCaptura()"
        >
          <ng-template #modalTitleCaptura>Captura de conteo</ng-template>
    
          <ng-template #modalContentCaptura>
          
            <div class="p-[25px]">
              <div style="width: 90%;">
                <hot-table
                [data]="detalleConteo"
                [settings]="hotSettings"
                [hotId]="id"
                  [colHeaders]="true"
                  [rowHeaders]="true"
                  height="auto"
                  [autoWrapRow]="true"
                  [autoWrapCol]="true"
                  
                  licenseKey="non-commercial-and-evaluation">
                    <hot-column data="claveArticulo" title="Clave" [readOnly]="true" [width]="150"></hot-column>
                    <hot-column data="descripcion" title="Descripcion" [readOnly]="true"></hot-column>
                    <hot-column data="lote" title="Lote" [readOnly]="true" ></hot-column>
                    <hot-column data="caducidad" title="Caducidad" [readOnly]="true" ></hot-column>
                    <hot-column data="existenciaFisica" title="Existencia" [readOnly]="true" ></hot-column>
                    <hot-column data="consumo" title="Conteo" type="numeric" [readOnly]="false"></hot-column>
                </hot-table>
              </div>
            </div>
    
           
    
          </ng-template>
    
          <ng-template #modalFooterCaptura>
            <button class="bg-primary hover:bg-primary-hbr hover:border-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px]" nz-button nzType="primary" (click)="guardarConteo()" [nzLoading]="isLoadingConteoMdl">Guardar</button>
          </ng-template>
        </nz-modal>


<div nz-row nzGutter="25">
    <!-- skeleton -->
    <ng-template #loadingSkeleton>
      <nz-skeleton class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]" [nzShape]="circle" [nzActive]="true"
        [nzParagraph]="{ rows: 6 }"></nz-skeleton>
    </ng-template>
    <!-- skeleton -->
    
    <div nz-col nzXs="24" class="mb-[25px]">
        <!-- New Contact -->
        <div class="flex items-center justify-center md:justify-end">
         <button class="flex items-center px-[14px] text-sm text-white rounded-md font-semibold bg-primary border-primary h-10 gap-[6px]" (click)="showNew()" nz-button >
           <i class="text-[12px]" nz-icon nzType="plus"></i>
           <span class="m-0">Iniciar inventario</span>
         </button>
       </div>
         <!-- end: New Contact -->
      </div>

    <div nz-col nzXs="24" class="mb-[25px]">
      <ng-container *ngIf="showContent; else loadingSkeleton">
        <div
          class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative h-full">
          <div
            class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
            <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Inventarios</h4>
          </div>
          <div class="p-[25px]">
            <div class="flex items-center justify-center w-full mt-5 mb-[25px] max-md:flex-col max-md:justify-center gap-[15px]">
                <div class="inline-flex items-center flex-wrap w-full gap-[20px] max-md:justify-center">
                </div>
                <div class="ssm:min-w-[380px]">
                  <table>
                    <tr>
                      <td>
                        <nz-input-group class="h-10 inline-flex items-center text-body dark:text-white/60 bg-white dark:bg-white/10 border-normal border-1 dark:border-white/10 rounded-[6px] px-[20px]">
                          <i class="text-light dark:text-white/[.87] text-[18px]" nz-icon nzType="search"></i>
                          <input
                            class="bg-transparent border-none text-[15px] shadow-none text-dark dark:text-white/[.87] flex items-center"
                            type="text"
                            nz-input
                            placeholder="Buscar"
                            [(ngModel)]="searchValue"
                            (ngModelChange)="filterItems()"
                          />
                        </nz-input-group>
                      </td>
                      <td>
                        <button nz-button (click)="exportToExcel()">Exportar a Excel</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

            <div class="w-full overflow-x-auto">
                <input #fileInput accept=".pdf" type="file" (change)="onFileSelect($event)" style="display: none;">
               
                <nz-table #basicTable 
                nzShowSizeChanger
                [nzData]="filteredData"
                >
                  <thead>
                    <tr>
                      
                      <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Folio</th>
                      <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Fecha</th>
                      <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Resposable</th>
                      <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Puesto responsable</th>
                      <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Responsable conteo</th>
                      <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Puesto de conteo</th>
                      <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Estatus</th>
                      <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize"></th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr class="group" *ngFor="let item of basicTable.data">
                     <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.folio }}</td>
                     <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.fecha | date: 'dd/MM/yyyy'}}</td> 
                     <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.responsable }}</td> 
                     <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.responsablePuesto }}</td>
                     <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.responsableConteo }}</td> 
                     <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.responsableConteoPuesto }}</td> 
                     <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.estatusInventario }}</td>
                     <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                      <div class="flex items-center gap-[10px]">
                        <a class="text-light-extra text-18" nz-dropdown nzPlacement="bottomRight" nzTrigger="click"
                            [nzDropdownMenu]="projectListSetting2">
                            <span nz-icon nzType="more" nzTheme="outline"></span>
                          </a>
                          <nz-dropdown-menu #projectListSetting2="nzDropdownMenu">
                            <ul
                              class="block bg-white dark:bg-[#1b1e2b] shadow-regular dark:shadow-[0_5px_30px_rgba(1,4,19,.60)] rounded-4 capitalize"
                              nz-menu nzSelectable>

                           
                            <li *ngIf="item.estatusInventarioId == 1" (click)="descargarControlInventario(item.inventarioId)"
                            class="flex items-center text-theme-gray dark:text-white/60 hover:bg-primary/10 hover:text-primary dark:hover:bg-white/10 px-3 py-1.5 text-sm dark:hover:text-white/[.87] gap-[6px]"
                            nz-menu-item>
                              <i nz-icon nzType="file-pdf" theme="outline"></i>
                              <span class="m-l-10">Descargar conteo de inventario</span>
                            </li>

                            <li *ngIf="item.estatusInventarioId == 1" (click)="showCaptura(item.inventarioId)"
                            class="flex items-center text-theme-gray dark:text-white/60 hover:bg-primary/10 hover:text-primary dark:hover:bg-white/10 px-3 py-1.5 text-sm dark:hover:text-white/[.87] gap-[6px]"
                            nz-menu-item>
                              <i nz-icon nzType="edit" theme="outline"></i>
                              <span class="m-l-10">Capturar conteo</span>
                            </li>

                            <li *ngIf="item.estatusInventarioId == 3" (click)="descargarControlInventarioLleno(item.inventarioId)"
                            class="flex items-center text-theme-gray dark:text-white/60 hover:bg-primary/10 hover:text-primary dark:hover:bg-white/10 px-3 py-1.5 text-sm dark:hover:text-white/[.87] gap-[6px]"
                            nz-menu-item>
                              <i nz-icon nzType="file-pdf" theme="outline"></i>
                              <span class="m-l-10">Descargar control de inventario</span>
                            </li>

                            <li *ngIf="item.estatusInventarioId == 3" (click)="adjuntarControlInventario(item)"
                            class="flex items-center text-theme-gray dark:text-white/60 hover:bg-primary/10 hover:text-primary dark:hover:bg-white/10 px-3 py-1.5 text-sm dark:hover:text-white/[.87] gap-[6px]"
                            nz-menu-item>
                              <i nz-icon nzType="upload" theme="outline"></i>
                              <span class="m-l-10">Adjuntar control de inventario firmado</span>
                            </li>

                            <li *ngIf="item.estatusInventarioId == 5" (click)="descargarControlInventarioFinalizado(item)"
                            class="flex items-center text-theme-gray dark:text-white/60 hover:bg-primary/10 hover:text-primary dark:hover:bg-white/10 px-3 py-1.5 text-sm dark:hover:text-white/[.87] gap-[6px]"
                            nz-menu-item>
                              <i nz-icon nzType="download" theme="outline"></i>
                              <span class="m-l-10">Descargar reporte</span>
                            </li>

                            </ul>
                          </nz-dropdown-menu>
                      </div>
                     </td>
                    </tr>
                  </tbody>
                </nz-table>
              </div>
          </div>
        </div>
      </ng-container>
    </div>
    </div>
  