<div nz-row nzGutter="25">
    <!-- skeleton -->
    <ng-template #loadingSkeleton>
      <nz-skeleton class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]" [nzShape]="circle" [nzActive]="true"
        [nzParagraph]="{ rows: 6 }"></nz-skeleton>
    </ng-template>
    <!-- skeleton -->
    <nz-modal
    [(nzVisible)]="isVisibleCaptura"
    [nzTitle]="modalTitleCaptura"
    [nzContent]="modalContentCaptura"
    [nzFooter]="modalFooterCaptura"
    (nzOnCancel)="handleCancelCaptura()"
  >
    <ng-template #modalTitleCaptura>Registrar bloqueo</ng-template>

    <ng-template #modalContentCaptura>

     
      <form class="max-w-full" [formGroup]="validateFormBloqueo">
        <nz-form-item>
          
          
          
          <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="24" nzFor="text2">Centro</nz-form-label>
          <nz-form-control class="mb-[20px]" nzXs="24">
          <nz-select class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60" 
          (ngModelChange)="centroSelected($event)"
          formControlName="centro" >
          <nz-option *ngFor="let option of centros" [nzValue]="option.id" [nzLabel]="option.descripcion"></nz-option>
          </nz-select>
          </nz-form-control>


          <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="24" nzFor="text2">Riel</nz-form-label>
          <nz-form-control class="mb-[20px]" nzXs="24">
          <nz-select class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60" 
          name="lucy" 
          formControlName="riel" >
          <nz-option *ngFor="let option of filteredData_Riel" [nzValue]="option.id" [nzLabel]="option.riel"></nz-option>
          </nz-select>
          </nz-form-control>

          <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="24" nzFor="text2">Fecha</nz-form-label>
          <nz-form-control nzXs="24" nzErrorTip="Campo requerido." nzXs="24">
            <input formControlName="fecha"
              class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
              nz-input name="text2" type="date" id="text2">
          </nz-form-control>

          <nz-form-control nzXs="24" nzErrorTip="Campo requerido." nzXs="24">
          </nz-form-control>

          <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="24" nzFor="text2">Tiempo de bloqueo</nz-form-label>
          <nz-form-control nzXs="10" nzErrorTip="Campo requerido." nzXs="10">
            <input formControlName="desde"
              class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
              nz-input name="text2" type="time" id="text2">
          </nz-form-control>
          <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="4" nzFor="text2">&nbsp;&nbsp;Hasta</nz-form-label>
          <nz-form-control nzXs="10" nzErrorTip="Campo requerido." nzXs="10">
            <input formControlName="hasta"
              class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
              nz-input name="text2" type="time" id="text2">
          </nz-form-control>

          <nz-form-control nzXs="24" nzErrorTip="Campo requerido." nzXs="24">
          
          </nz-form-control>

          <nz-form-control nzXs="24" nzErrorTip="Campo requerido." nzXs="24">
            <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="24" nzFor="text2">Motivo</nz-form-label>
          </nz-form-control>
          <nz-form-control nzXs="24" nzErrorTip="Campo requerido." nzXs="24">
            <input formControlName="motivo"
              class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
              nz-input name="text2" type="text" id="text2">
          </nz-form-control>

        </nz-form-item>
      </form>
    </ng-template>

    <ng-template #modalFooterCaptura>
      <button class="bg-primary hover:bg-primary-hbr hover:border-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px]" nz-button nzType="primary" (click)="handleOk()" [nzLoading]="btnLoading">Guardar</button>
    </ng-template>
  </nz-modal>



    <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="modalTitle"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()"
  >
    <ng-template #modalTitle>Registrar bloqueo</ng-template>

    <ng-template #modalContent>

     
      <form class="max-w-full" [formGroup]="validateFormBloqueo">
        <nz-form-item>
          
          
          
          <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="24" nzFor="text2">Centro</nz-form-label>
          <nz-form-control class="mb-[20px]" nzXs="24">
          <nz-select class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60" 
          (ngModelChange)="centroSelected($event)"
          formControlName="centro" >
          <nz-option *ngFor="let option of centros" [nzValue]="option.id" [nzLabel]="option.descripcion"></nz-option>
          </nz-select>
          </nz-form-control>


          <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="24" nzFor="text2">Riel</nz-form-label>
          <nz-form-control class="mb-[20px]" nzXs="24">
          <nz-select class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60" 
          name="lucy" 
          formControlName="riel" >
          <nz-option *ngFor="let option of filteredData_Riel" [nzValue]="option.id" [nzLabel]="option.riel"></nz-option>
          </nz-select>
          </nz-form-control>

          <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="24" nzFor="text2">Fecha</nz-form-label>
          <nz-form-control nzXs="24" nzErrorTip="Campo requerido." nzXs="24">
            <input formControlName="fecha"
              class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
              nz-input name="text2" type="date" id="text2">
          </nz-form-control>

          <nz-form-control nzXs="24" nzErrorTip="Campo requerido." nzXs="24">
          </nz-form-control>

          <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="24" nzFor="text2">Tiempo de bloqueo</nz-form-label>
          <nz-form-control nzXs="10" nzErrorTip="Campo requerido." nzXs="10">
            <input formControlName="desde"
              class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
              nz-input name="text2" type="time" id="text2">
          </nz-form-control>
          <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="4" nzFor="text2">&nbsp;&nbsp;Hasta</nz-form-label>
          <nz-form-control nzXs="10" nzErrorTip="Campo requerido." nzXs="10">
            <input formControlName="hasta"
              class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
              nz-input name="text2" type="time" id="text2">
          </nz-form-control>

          <nz-form-control nzXs="24" nzErrorTip="Campo requerido." nzXs="24">
          
          </nz-form-control>

          <nz-form-control nzXs="24" nzErrorTip="Campo requerido." nzXs="24">
            <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="24" nzFor="text2">Motivo</nz-form-label>
          </nz-form-control>
          <nz-form-control nzXs="24" nzErrorTip="Campo requerido." nzXs="24">
            <input formControlName="motivo"
              class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
              nz-input name="text2" type="text" id="text2">
          </nz-form-control>

        </nz-form-item>
      </form>
    </ng-template>

    <ng-template #modalFooter>
      <button class="bg-primary hover:bg-primary-hbr hover:border-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px]" nz-button nzType="primary" (click)="handleOk()" [nzLoading]="btnLoading">Guardar</button>
    </ng-template>
  </nz-modal>

    <div nz-col nzXs="24" nzMd="12">
        <ng-template #newItem>
         
          
        </ng-template>
        <ng-template #modalFooter>
          <span class="inline-block me-[10px]">Modal Footer:</span>
          <button class="hover:bg-gray-hbr border-solid border-1 dark:bg-transparent border-normal dark:border-white/10 text-light dark:text-white/60 dark:focus:text-white/60 hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px]" nz-button nzType="default" (click)="handleCancel()">Custom Callback</button>
          <button class="bg-primary hover:bg-primary-hbr hover:border-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px]" nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Custom Submit</button>
        </ng-template>
        <!-- :End New project added -->
      </div>

    <div nz-col nzXs="24" class="mb-[25px]">
      <ng-container *ngIf="showContent; else loadingSkeleton">
        <div
          class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative h-full">
          <div
            class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
            <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Reporte de altas</h4>
          </div>
          <div class="p-[25px]">
            <div>
              
              <form class="max-w-full" [formGroup]="validateForm">
                <nz-form-item>
                  <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="3" nzFor="text2">Anio</nz-form-label>
                  <nz-form-control nzXs="3" nzErrorTip="Campo requerido." >
                    <input formControlName="desde"
                      class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                      nz-input name="text2" type="date" id="text2">
                  </nz-form-control>
                  <nz-form-control nzXs="1">
                  </nz-form-control>
                  <nz-form-label class="flex items-center font-medium dark:text-white/60" nzXs="2" nzFor="text2">Hasta</nz-form-label>
                  <nz-form-control nzXs="3" nzErrorTip="Campo requerido." >
                    <input formControlName="hasta"
                      class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                      nz-input name="text2" type="date" id="text2">
                  </nz-form-control>
                  <nz-form-control nzXs="1">
                  </nz-form-control>
                  <nz-form-control nzXs="1">
                  </nz-form-control>
                  <nz-form-control nzXs="1">
                  <button [nzLoading]="btnLoadingBusqueda" (click)="submitForm()" class="bg-primary hover:bg-primary-hbr inline-flex items-center outline-none shadow-none w-fit duration-300 text-white capitalize px-[20px] text-[15px] border-primary hover:border-primary-hbr rounded-[5px] gap-[8px] h-[46px]" nz-button nzType="primary" >
                        <span>Buscar</span>
                        <span nz-icon nzType="search" nzTheme="outline"></span>
                      </button>
                  </nz-form-control>
                </nz-form-item>
              </form>
              <div class="p-[25px]">

                <div class="flex items-center justify-center w-full mt-5 mb-[25px] max-md:flex-col max-md:justify-center gap-[15px]">
                  <div class="inline-flex items-center flex-wrap w-full gap-[20px] max-md:justify-center">
                  </div>
                  <div class="ssm:min-w-[380px]">
                    <table style="width: 100%;">
                      <tr>
                        <td>
                        
                        </td>
                        <td style="text-align: right;">
                          <button nz-button (click)="exportToExcel()">Exportar a Excel</button>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                
                      <div class="w-full overflow-x-auto">
                        <input #fileInput accept=".pdf" type="file" (change)="onFileSelect($event)" style="display: none;">
                          <nz-table #basicTable 
                          nzShowSizeChanger
                          [nzData]="bloqueos"
                          >
                            <thead>
                              <tr>
                                <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Alta contable</th>
                                <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Razon social</th>
                                <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Rfc</th>
                                <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Clave</th>
                                <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Descripcion</th>
                                <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Fecha alta</th>
                                <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Recepcion</th>
                                <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Cantidad</th>
                                <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">Archivo</th>
                                <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize"></th>
                              </tr>
                            </thead>
                            <tbody>
                            <tr class="group" *ngFor="let item of basicTable.data">
                               <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.numeroAltaContable }}</td>
                               <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.razonSocial }}</td> 
                               <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.rfcProveedor }}</td> 
                               <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.gpo }}.{{ item.gen }}.{{ item.esp }}.{{ item.dif }}.{{ item.var }}</td> 
                               <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.descripcionArticulo }}</td> 
                               <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.fechaHoraAlta }}</td> 
                               <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.recepcion }}</td>
                               <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.cantidad }}</td>
                               <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.nombreArchivo }}</td>
                               <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                                <div class="flex items-center gap-[10px]">
                                  <a class="text-light-extra text-18" nz-dropdown nzPlacement="bottomRight" nzTrigger="click"
                                      [nzDropdownMenu]="projectListSetting2">
                                      <span nz-icon nzType="more" nzTheme="outline"></span>
                                    </a>
                                    <nz-dropdown-menu #projectListSetting2="nzDropdownMenu">
                                      <ul
                                        class="block bg-white dark:bg-[#1b1e2b] shadow-regular dark:shadow-[0_5px_30px_rgba(1,4,19,.60)] rounded-4 capitalize"
                                        nz-menu nzSelectable>
                                        <li (click)="eliminarDocumento(item)" *ngIf="item.nombreArchivo"
                                        class="flex items-center text-theme-gray dark:text-white/60 hover:bg-primary/10 hover:text-primary dark:hover:bg-white/10 px-3 py-1.5 text-sm dark:hover:text-white/[.87] gap-[6px]"
                                        nz-menu-item>
                                          <i nz-icon nzType="delete" theme="outline"></i>
                                          <span class="m-l-10">Eliminar documento</span>
                                        </li>

                                        <li (click)="subirDocumento(item)" *ngIf="!item.nombreArchivo"
                                        class="flex items-center text-theme-gray dark:text-white/60 hover:bg-primary/10 hover:text-primary dark:hover:bg-white/10 px-3 py-1.5 text-sm dark:hover:text-white/[.87] gap-[6px]"
                                        nz-menu-item>
                                          <i nz-icon nzType="upload" theme="outline"></i>
                                          <span class="m-l-10">Subir documento</span>
                                        </li>

                                        <li (click)="verCaptura(item)"
                                        class="flex items-center text-theme-gray dark:text-white/60 hover:bg-primary/10 hover:text-primary dark:hover:bg-white/10 px-3 py-1.5 text-sm dark:hover:text-white/[.87] gap-[6px]"
                                        nz-menu-item>
                                          <i nz-icon nzType="edit" theme="outline"></i>
                                          <span class="m-l-10">Ver captura</span>
                                        </li>

                                      </ul>
                                    </nz-dropdown-menu>
                                </div>
                               </td>
                              </tr>
                            </tbody>
                          </nz-table>
                        </div>
                    </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    </div>
  